@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

:root {
    --bg-color: rgb(255, 246, 235);
    --read: rgb(177, 255, 153);
    --not-read: rgb(255, 130, 130);
    --border-size: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    height: 50px;
    background-color: rgb(214, 214, 214);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Tilt Warp', cursive;
}

.add_new_book {
    cursor: pointer;
}

main {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.book {
    width: 100%;
    height: 50px;
    display: flex;
    border: var(--border-size) solid black;
    box-shadow: -10px 10px 0 rgb(0, 0, 0);
    border-radius: 25px;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
}

.book > span {
    margin-left: 10px;
}

.read {
    min-width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--read);
    border-radius: 12px;
    cursor: pointer;
}


.new_book {
    background-color: var(--bg-color);
    width: 200px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -8px 8px 0 black;
    border-radius: 15px;
    border: var(--border-size) solid black;
    gap: 5px;
    position: absolute;
    padding: 8px;
    display: none;
}

.label {
    text-align: left;
}

.new_book > input {
    border: none;
    background: none;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 7px;
    width: 80%;
    padding: 3px;
}

.new_book > input:focus {
    outline: none;
}

.status {
    cursor: pointer;
    width: auto;
    height: auto;
}

.read_status {
    padding: 3px 6px;
    user-select: none;
}

.read_btn {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.mark_as_read , .mark_as_not_read  {
    padding: 5px;
    border-radius: 7px;
}

.mark_as_read  {
    background-color: var(--read)
}

.mark_as_not_read {
    background-color: var(--not-read);
}

.not_read {
    min-width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--not-read);
    border-radius: 12px;
    cursor: pointer;
}

.add {
    width: 80%;
    text-align: center;
    background-color: rgb(207, 207, 207);
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.book_title {
    width: auto;
}

@media only screen and (max-width: 600px) {
    
    .book {
        width: 75%;
    }
    
    .not_read, .read {      
        height: 25px;
        font-size: 95%;
    }

    .not_read {
        min-width: 120px;
    }

     .read {
        min-width: 100px;
    }

}